    .header{
    padding: 24px 42px;
    font-family: sans-serif;
    color: var(--carbon-fiber);
    line-height: 1.5;
    
}



.header__container{
    display: flex;
    justify-content: space-between;
}



.menu__link{
   color: inherit;
   font-size: 17px;
    font-weight: 400;

}


.menu__list{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
   
    
}

.menu__link:hover{
    border-bottom: 1px solid var(--carbon-fiber);
}
.header__title{
    font-size: 20px;
    font-weight: 600;

    
}